body, head {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#playground {
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 40vw;
    position: absolute;
    transform: translate(-50%, -50%);
}

#game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.divRow {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.divCol {
    height: 100%;
    flex-grow: 1;
    border: 1px solid black;
    background-color: rgb(255, 0, 0);
}

.divCol:hover {
    background-color: rgba(255, 0, 0, .5);
}

.divPlayer {
    background-color: rgba(255, 255, 255, 1);
}

.divCoin {
    background-color: gold;
}

.btnSetRows, #txtRows {
    outline-color: gray;
}

.btnSetRows {
    border: none;
    padding: 3px 5px;
}

.div-control {
    left: 50%;
    bottom: 10%;
    display: block;
    position: absolute;
    transform: translateX(-50%);
}

#txtScore {
    font-size: 3vw;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}